.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

out/*
!out/.gitkeep

/*.mp3
/*.ogg
/*.wav
/*.flac
/*.opus
/*.m4a
/*.mid
/*.midi
/*.lrc

_cover.jpg


.vscode/
.idea/
*.swp
*~
Thumbs.db
desktop.ini
.DS_Store
